@font-face {
  font-family: "Droid Sans Mono";
  font-style: normal;
  font-weight: normal;
  src: local("Droid Sans Mono"), local("DroidSansMono"), url("Droid_Sans_Mono/DroidSansMono.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans"), local("OpenSans"), url("Open_Sans/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: local("Open Sans"), local("OpenSans"), url("Open_Sans/OpenSans-Bold.ttf") format("truetype"); }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0; }

header, footer {
  margin: 0 auto;
  position: absolute;
  width: 1024px;
  z-index: 1; }

#content {
  margin: 0 auto;
  position: relative;
  width: 1024px; }
