#slide-current .slide[data-slide-number="6"] pre {
  width: 345px; }

#slide-current .slide[data-slide-number="7"] pre {
  width: 225px; }

#slide-current .slide[data-slide-number="8"] pre {
  width: 235px; }
